<div class="content-section" id="about">
  <div class="section-title">ABOUT</div>
  <p>I'm a Ruby on Rails Developer. I strive towards high quality craftsmanship in the code I write and continuously seek to improve how I approach problems and come up with solutions.</p>
  <blockquote class="blockquote quote">
    <p class="m-b-0">There is something incredibly fascinating about the idea of translating a concept into reality, making the unseen visible. That is the job of software developers. They make things.</p>
  </blockquote>
  <p>
    I have 5 years worth of experience with Ruby and Rails stacks. During that time, I've had the opportunity to solve problems in a variety of industries including education, language transalation, and B2B sales software tools.
  </p>
</div>
