<div class="content-section" id="about">
  <div class="section-title">ABOUT</div>
  <p>I'm a Software Developer specializing in Ruby on Rails, React, and React-Native. I strive towards high quality craftsmanship in the code I write and continuously seek to improve how I approach problems with solutions.</p>
  <blockquote class="blockquote quote">
    <p class="m-b-0">There is something incredibly fascinating about the idea of translating a concept into reality, making the unseen visible. That is the job of software developers. They make things.</p>
  </blockquote>
  <p>
    I have 5 years worth of experience with a variety of different Ruby and javascript frameworks. During that time, I've had the opportunity to solve problems in a wide variety of industries including edtech, language transalation, and B2B sales software tools. Available for part time contract and/or freelance opportunities. Let's talk!
  </p>
</div>
