<div class="container">
  <div class="content-section" id="about">
    <div class="section-title">ABOUT</div>
    <p>
      I'm a Ruby on Rails Developer. I've been building web-applications using the Ruby and Rails stack for almost 4 years. I've worked for companies in Texas, North Carolina, and Tennessee, but for the last year have been working remote fulltime.
    </p>

    <blockquote class="blockquote quote">
      <p class="m-b-0">There is something incredibly fascinating about the idea of translating a concept into reality, making the unseen visible. That is the job of software developers. They make things.</p>
    </blockquote>

    <p>I strive towards high quality craftsmanship in the code I write and continuously seek to improve how I approach problems and come up with solutions.</p>
  </div>
</div>
