<div class="content-section" id="contact">
  <div class="section-title">CONTACT</div>
    <div class="row">

      <div class="row p-x-1">
        <div class="col-md-4 p-y-1">
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>

        <div class="col-md-3 p-y-1">
          <div>
            {% if site.github_username %}
              {% include icon-github.html username=site.github_username %}
            {% endif %}
          </div>

          <div>
            {% if site.twitter_username %}
              {% include icon-twitter.html username=site.twitter_username %}
            {% endif %}
          </div>
        </div>

        <div class="col-md-5">
          <p>Open for discussion about contract or freelance opportunities</p>
        </div>
      </div>
    </div>

  </div>
</div>
