<footer class="footer" id="contact">
  <div class="row">

    <div class="row p-x-1">
      <div class="col-md-6">
        <div class="m-b-1">
          <a class="grey-text email" href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>

        <a class="icon" href="https://twitter.com/Dodds_M">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a class="icon" href="http://instagram.com/mdodds2">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a class="icon" href="https://github.com/MatthewRDodds">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a class="icon" href="http://www.linkedin.com/in/doddsmatthew">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>

      <div class="col-md-6 grey-text">
        <p class="callout">Open for discussion about contract or freelance opportunities.</p>
      </div>
    </div>
  </div>
  <div class="text-muted m-y-1">&copy; 2016</div>
</footer>
