.p-x-sm {
  padding-left: 10px;
  padding-right: 10px;
}

/**
* Site header
*/

.site-header {
  min-height: 56px;
  position: relative;
}

.nav-brand-link {
  opacity: .5;
  background: white;
  font-size: 13px;
  &:hover {
    opacity: .9;
  }
}

.social-wrapper {
  padding: 50px 0 10px 0;
  @media (min-width: 34em) {
    a { float: right; }
  }
  @media (max-width: 48em) {
    padding: 10px 0 0 0;
    a { font-size: .6em; }
  }
  @media (max-width: 34em) {
    text-align: center;
    a { font-size: .8em; }
  }
}

.navbar-nav {
  margin-left: 0;

  @media (max-width: 34em) {
    width: 100%;
  }
}

.site-nav-wrapper {
  padding: 0 0 10px 20px;

  a {
    -webkit-transition: all 0.5s ease;
  }

  @media (max-width: 48em) {
    padding: 0 0 10px 0;
  }
  @media (max-width: 34em) {
    a { font-size: 14px; }
    text-align: center;
  }
}

.container {
  @media (min-width: 48em) {
    max-width: 51rem;
  }
}

.name-wrapper {
  padding-top: 40px;
  margin-left: 35px;
  float: left;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  .name {
    font-size: 1.5em;
    font-weight: bold;
  }
  @media (max-width: 62em) {
    margin-left: 0;
  }
  @media (max-width: 48em) {
    font-size: 15px;
    padding-top: 10px;
    margin-left: 5px;
  }
  @media (max-width: 34em) {
    text-align: center;
    width: 100%;
    margin-left: 0;
  }
}

.custom-brand {
  @media (max-width: 34em) {
    text-align: center;
    width: 100%;
  }
}

.profile-pic {
  width: 135px;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 0;
  padding-left: 0;
}

.section-title {
  color: #0275d8;
  font-weight: bold;
  margin-bottom: 15px;
}

.content-section {
  margin-top: 25px;
  margin-bottom: 5px;
}

.quote {
  letter-spacing: 0px;
  font-weight: 300;
  font-size: 1rem !important;
}

.post-link {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.rss-subscribe {
  margin-top: 10px;
}

// footer

footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 20px 70px;
  margin-top: 80px;

  .grey-text {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
  }

  .email {
    font-size: 15px;
  }

  .callout {
    font-size: 15px;
    max-width: 250px;
  }

  .white-text {
    display: inline-block;
    color: #fff;
  }
}

.footer-container {
  background: #292c2f;
}

.fa-square {
  color: #33383b;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
