<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container">
      {% include header.html %}
    </div>

    <div class="container">
      {% include about.html %}
    </div>

    <div class="container">
      <div class="content-section" id="blog">
        <div class="section-title">BLOG</div>
        <div class="">
          <div class="">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container">
      {% include contact.html %}
    </div> -->
  </body>


  <div class="container-fluid footer-container">
    {% include footer.html %}
  </div>
</html>
